* {
  background: transparent;
  margin-top: 1px;
}

/* right icons */
#idle_inhibitor,
#mpris,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery {
  background: #3b4252;
  opacity: 0.9;
  padding-left: 8px;
  padding-right: 16px;
  color: #8cafd2;
  border-radius: 4px;
  box-shadow: inset 2px -3px #262e38; 
}

#battery {
  margin-right: 3px;
}

/* middle and left icons */
#workspaces,
#clock {
  background: #3b4252;  
  color: #8cafd2;
  opacity: 0.9;
  border-radius: 4px;
  padding: 0px 8px 0px 8px;
  margin-left: 3px;
  border-radius: 4px;
  box-shadow: inset 2px -3px #262e38; 
}

#workspaces button {
  color: #8cafd2;
}

#workspaces button.active {
    color: #e5e9f0;
}
